# Project Proposal

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [7]:
starbucks_drink_data <- read_csv("data/starbucks/starbucks_drinkMenu_expanded.csv")
starbucks_food_data <- read_csv("data/starbucks/starbucks-menu-nutrition-food.csv")
head(starbucks_food_data)
head(starbucks_drink_data)

Parsed with column specification:
cols(
  Beverage_category = col_character(),
  Beverage = col_character(),
  Beverage_prep = col_character(),
  Calories = col_double(),
  `Total Fat (g)` = col_character(),
  `Trans Fat (g)` = col_double(),
  `Saturated Fat (g)` = col_double(),
  `Sodium (mg)` = col_double(),
  `Total Carbohydrates (g)` = col_double(),
  `Cholesterol (mg)` = col_double(),
  `Dietary Fibre (g)` = col_double(),
  `Sugars (g)` = col_double(),
  `Protein (g)` = col_double(),
  `Vitamin A (% DV)` = col_character(),
  `Vitamin C (% DV)` = col_character(),
  `Calcium (% DV)` = col_character(),
  `Iron (% DV)` = col_character(),
  `Caffeine (mg)` = col_character()
)

Warning message:
“Missing column names filled in: 'X1' [1]”
Parsed with column specification:
cols(
  X1 = col_character(),
  Calories = col_double(),
  `Fat (g)` = col_double(),
  `Carb. (g)` = col_double(),
  `Fiber (g)` = col_double(),
  `Protein (g)` = col_double()
)

  X1                                     Calories Fat (g) Carb. (g) Fiber (g)
1 Chonga Bagel                           300       5      50        3
2 8Grain Roll                            380       6      70        7
3 Almond Croissant                       410      22      45        3
4 Apple Fritter                          460      23      56        2
5 Banana Nut Bread                       420      22      52        2
6 Blueberry Muffin with Yogurt and Honey 380      16      53        1
  Protein (g)
1 12
2 10
3 10
4  7
5  6
6  6

  Beverage_category       Beverage      Beverage_prep     Calories
1 Coffee                  Brewed Coffee Short               3
2 Coffee                  Brewed Coffee Tall                4
3 Coffee                  Brewed Coffee Grande              5
4 Coffee                  Brewed Coffee Venti               5
5 Classic Espresso Drinks Caffè Latte   Short Nonfat Milk  70
6 Classic Espresso Drinks Caffè Latte   2% Milk           100
  Total Fat (g) Trans Fat (g) Saturated Fat (g) Sodium (mg)
1 0.1           0.0           0.0                0
2 0.1           0.0           0.0                0
3 0.1           0.0           0.0                0
4 0.1           0.0           0.0                0
5 0.1           0.1           0.0                5
6 3.5           2.0           0.1               15
  Total Carbohydrates (g) Cholesterol (mg) Dietary Fibre (g) Sugars (g)
1  5                       0               0                 0
2 10                       0               0                 0
3 10                       0               0                 0
4 10                       0               0                 0
5 75                      10               0                 9
6 85                      10               0                 9
  Protein (g) Vitamin A (% DV) Vitamin C (% DV) Calcium (% DV) Iron (% DV)
1 0.3         0%               0%               0%             0%
2 0.5         0%               0%               0%             0%
3 1.0         0%               0%               0%             0%
4 1.0         0%               0%               2%             0%
5 6.0         10%              0%               20%            0%
6 6.0         10%              0%               20%            0%
  Caffeine (mg)
1 175
2 260
3 330
4 410
5 75
6 75

In [11]:
salaries_by_region_data <- read_csv("data/degrees-that-pay/salaries-by-region.csv")
salaries_by_college_data <- read_csv("data/degrees-that-pay/salaries-by-college-type.csv")
salaries_by_degree_data <- read_csv("data/degrees-that-pay/degrees-that-pay-back.csv")
head(salaries_by_region_data)
head(salaries_by_college_data)
head(salaries_by_degree_data)

Parsed with column specification:
cols(
  `School Name` = col_character(),
  Region = col_character(),
  `Starting Median Salary` = col_character(),
  `Mid-Career Median Salary` = col_character(),
  `Mid-Career 10th Percentile Salary` = col_character(),
  `Mid-Career 25th Percentile Salary` = col_character(),
  `Mid-Career 75th Percentile Salary` = col_character(),
  `Mid-Career 90th Percentile Salary` = col_character()
)

Parsed with column specification:
cols(
  `School Name` = col_character(),
  `School Type` = col_character(),
  `Starting Median Salary` = col_character(),
  `Mid-Career Median Salary` = col_character(),
  `Mid-Career 10th Percentile Salary` = col_character(),
  `Mid-Career 25th Percentile Salary` = col_character(),
  `Mid-Career 75th Percentile Salary` = col_character(),
  `Mid-Career 90th Percentile Salary` = col_character()
)

Parsed with column specification:
cols(
  `Undergraduate Major` = col_character(),
  `Starting Median Salary` = col_character(),
  `Mid-Career Median Salary` = col_character(),
  `Percent change from Starting to Mid-Career Salary` = col_double(),
  `Mid-Career 10th Percentile Salary` = col_character(),
  `Mid-Career 25th Percentile Salary` = col_character(),
  `Mid-Career 75th Percentile Salary` = col_character(),
  `Mid-Career 90th Percentile Salary` = col_character()
)

  School Name                              Region     Starting Median Salary
1 Stanford University                      California $70,400.00
2 California Institute of Technology (CIT) California $75,500.00
3 Harvey Mudd College                      California $71,800.00
4 University of California, Berkeley       California $59,900.00
5 Occidental College                       California $51,900.00
6 Cal Poly San Luis Obispo                 California $57,200.00
  Mid-Career Median Salary Mid-Career 10th Percentile Salary
1 $129,000.00              $68,400.00
2 $123,000.00              N/A
3 $122,000.00              N/A
4 $112,000.00              $59,500.00
5 $105,000.00              N/A
6 $101,000.00              $55,000.00
  Mid-Career 25th Percentile Salary Mid-Career 75th Percentile Salary
1 $93,100.00                        $184,000.00
2 $104,000.00                       $161,000.00
3 $96,000.00                        $180,000.00
4 $81,000.00                        $149,000.00
5 $54,800.00                        $157,000.00
6 $74,700.00                        $133,000.00
  Mid-Career 90th Percentile Salary
1 $257,000.00
2 N/A
3 N/A
4 $201,000.00
5 N/A
6 $178,000.00

  School Name                                  School Type
1 Massachusetts Institute of Technology (MIT)  Engineering
2 California Institute of Technology (CIT)     Engineering
3 Harvey Mudd College                          Engineering
4 Polytechnic University of New York, Brooklyn Engineering
5 Cooper Union                                 Engineering
6 Worcester Polytechnic Institute (WPI)        Engineering
  Starting Median Salary Mid-Career Median Salary
1 $72,200.00             $126,000.00
2 $75,500.00             $123,000.00
3 $71,800.00             $122,000.00
4 $62,400.00             $114,000.00
5 $62,200.00             $114,000.00
6 $61,000.00             $114,000.00
  Mid-Career 10th Percentile Salary Mid-Career 25th Percentile Salary
1 $76,800.00                        $99,200.00
2 N/A                               $104,000.00
3 N/A                               $96,000.00
4 $66,800.00                        $94,300.00
5 N/A                               $80,200.00
6 $80,000.00                        $91,200.00
  Mid-Career 75th Percentile Salary Mid-Career 90th Percentile Salary
1 $168,000.00                       $220,000.00
2 $161,000.00                       N/A
3 $180,000.00                       N/A
4 $143,000.00                       $190,000.00
5 $142,000.00                       N/A
6 $137,000.00                       $180,000.00

  Undergraduate Major   Starting Median Salary Mid-Career Median Salary
1 Accounting            $46,000.00             $77,100.00
2 Aerospace Engineering $57,700.00             $101,000.00
3 Agriculture           $42,600.00             $71,900.00
4 Anthropology          $36,800.00             $61,500.00
5 Architecture          $41,600.00             $76,800.00
6 Art History           $35,800.00             $64,900.00
  Percent change from Starting to Mid-Career Salary
1 67.6
2 75.0
3 68.8
4 67.1
5 84.6
6 81.3
  Mid-Career 10th Percentile Salary Mid-Career 25th Percentile Salary
1 $42,200.00                        $56,100.00
2 $64,300.00                        $82,100.00
3 $36,300.00                        $52,100.00
4 $33,800.00                        $45,500.00
5 $50,600.00                        $62,200.00
6 $28,800.00                        $42,200.00
  Mid-Career 75th Percentile Salary Mid-Career 90th Percentile Salary
1 $108,000.00                       $152,000.00
2 $127,000.00                       $161,000.00
3 $96,300.00                        $150,000.00
4 $89,300.00                        $138,000.00
5 $97,000.00                        $136,000.00
6 $87,400.00                        $125,000.00