# Project Proposal

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Possible questions for Starbucks data:
* Classification: Can we use selected nutritional values of a Starbucks drink to predict its beverage category or beverage type?
* Regression: Can we use the total fat in a Starbucks drink to predict its calories?
* Regression: Can we use the total carbs in a Starbucks food item to predict its calories?

Possible questions for Salaries data:
* Classification: Can we use starting median salary and mid-career median salary to predict the region of education?
* Regression: Can we use starting median salary to predict mid-career median salary?

In [5]:
drink_data <- read_csv("data/starbucks/drinkMenu.csv")
food_data <- read_csv("data/starbucks/foodMenu.csv")
food_data

Parsed with column specification:
cols(
  Beverage_category = col_character(),
  Beverage = col_character(),
  Beverage_prep = col_character(),
  Calories = col_double(),
  `Total Fat (g)` = col_character(),
  `Trans Fat (g)` = col_double(),
  `Saturated Fat (g)` = col_double(),
  `Sodium (mg)` = col_double(),
  `Total Carbohydrates (g)` = col_double(),
  `Cholesterol (mg)` = col_double(),
  `Dietary Fibre (g)` = col_double(),
  `Sugars (g)` = col_double(),
  `Protein (g)` = col_double(),
  `Vitamin A (% DV)` = col_character(),
  `Vitamin C (% DV)` = col_character(),
  `Calcium (% DV)` = col_character(),
  `Iron (% DV)` = col_character(),
  `Caffeine (mg)` = col_character()
)

Warning message:
“Missing column names filled in: 'X1' [1]”
Parsed with column specification:
cols(
  X1 = col_character(),
  Calories = col_double(),
  `Fat (g)` = col_double(),
  `Carb. (g)` = col_double(),
  `Fiber (g)` = col_double(),
  `Protein (g)` = col_double()
)

    X1                                                                Calories
1   Chonga Bagel                                                      300
2   8Grain Roll                                                       380
3   Almond Croissant                                                  410
4   Apple Fritter                                                     460
5   Banana Nut Bread                                                  420
6   Blueberry Muffin with Yogurt and Honey                            380
7   Blueberry Scone                                                   420
8   Butter Croissant                                                  240
9   Butterfly Cookie                                                  350
10  Cheese Danish                                                     320
11  Chewy Chocolate Cookie                                            170
12  Chocolate Chip Cookie                                             310
13  Chocolate Chunk Muffin                                            440
14  Chocolate Croissant                                               330
15  Chocolate Hazelnut Croissant                                      390
16  Chocolate Marble Loaf Cake                                        490
17  Cinnamon Morning Bun                                              390
18  Cinnamon Raisin Bagel                                             270
19  Classic Coffee Cake                                               390
20  Cookie Butter Bar                                                 360
21  Cranberry Orange Scone                                            420
22  Devil's Food Doughnut                                             430
23  Double Chocolate Brownie                                          410
24  Double Chocolate Chunk Brownie                                    490
25  Double Chocolate Loaf Cake                                        440
26  Everybody's Favorite - Bantam Bagel (2 Pack)                      100
27  Everything Bagel with Cheese                                      290
28  Frappuccino® Cookie Straw                                          90
29  French Toast - Bantam Bagels (2 Pack)                             200
30  Gluten-Free Marshmallow Dream Bar                                 240
⋮   ⋮                                                                 ⋮
84  Classic Whole-Grain Oatmeal                                       160
85  Double-Smoked Bacon Cheddar & Egg Sandwich                        490
86  Ham & Cheese Croissant                                            320
87  Hearty Blueberry Oatmeal                                          220
88  Reduced-Fat Turkey Bacon & Cage Free Egg White Breakfast Sandwich 230
89  Sausage Cheddar & Egg Breakfast Sandwich                          500
90  Seared Steak Egg & Tomatillo Wrap                                 410
91  Slow-Roasted Ham Swiss & Egg Breakfast Sandwich                   450
92  Sous Vide Egg Bites: Bacon & Gruyere                              310
93  Sous Vide Egg Bites: Egg White & Red Pepper                       170
94  Spicy Chorizo  Monterey Jack & Egg Breakfast Sandwich             500
95  Spinach Feta & Cage Free Egg White Breakfast Wrap                 290
96  Ancho Chipotle Chicken Panini                                     500
97  Chicken & Quinoa Protein Bowl with Black Beans and Greens         420
98  Chicken Artichoke on Ancient Grain Flatbread                      510
99  Chicken BLT Salad Sandwich                                        470
100 Egg Salad Sandwich                                                480
101 Homestyle Chicken & Double-Smoked Bacon                           480
102 Italian-Style Ham & Spicy Salami                                  480
103 Lentils & Vegetable Protein Bowl with Brown Rice                  650
104 Roasted Tomato & Mozzarella Panini                                420
105 Turkey & Havarti Sandwich                                         460
106 Turkey Pesto Panini                                               560
107 Berry Trio Yogurt                                                 240
108 Fresh Blueberries and Honey Greek Yogurt Parfait                  240
109 Justin's Chocolate Hazelnut Butter                                180
110 Justin's Classic Almond Butter                                    190
111 Lemon Chiffon Yogurt                                              340
112 Organic Avocado (Spread)                                           90
113 Seasonal Fruit Blend                                               90
    Fat (g) Carb. (g) Fiber (g) Protein (g)
1    5.0    50        3         12
2    6.0    70        7         10
3   22.0    45        3         10
4   23.0    56        2          7
5   22.0    52        2          6
6   16.0    53        1          6
7   17.0    61        2          5
8   12.0    28        1          5
9   22.0    38        0          2
10  16.0    36        1          8
11   5.0    30        2          2
12  15.0    42        2          4
13  21.0    60        2          7
14  18.0    38        1          6
15  22.0    43        2          7
16  24.0    64        2          6
17  15.0    56        2          8
18   1.0    58        3          9
19  16.0    57        1          5
20  23.0    36        0          2
21  15.0    64        1          6
22  23.0    53        2          5
23  24.0    46        3          6
24  28.0    55        3          7
25  23.0    54        3          5
26   3.5    14        0          3
27   3.5    53        2         11
28   3.0    14        0          1
29   8.0    30        0          6
30   5.0    45        0          2
⋮   ⋮       ⋮         ⋮         ⋮
84   2.5    28         4         5
85  27.0    40         1        21
86  17.0    28         1        14
87   2.5    43         5         5
88   6.0    28         2        16
89  28.0    41         1        15
90  18.0    43         2        21
91  23.0    42         1        24
92  22.0     9         0        19
93   7.0    13         1        13
94  30.0    35         3        26
95  10.0    33         6        19
96  19.0    57         4        26
97  17.0    42         9        27
98  27.0    37         5        24
99  25.0    35         3        21
100 27.0    42         7        16
101 17.0    57         3        23
102 20.0    49         3        22
103 29.0    80        21        23
104 18.0    47         3        11
105 21.0    31         2        29
106 23.0    55         3        34
107  2.5    39         3        14
108  2.5    42         2        14
109 14.0    12         3         4
110 18.0     6         3         7
111 13.0    38         0        18
112  8.0     5         4         1
113  0.0    24         4         1

In [9]:
byRegion <- read_csv("data/salaries/byRegion.csv")
byCollege <- read_csv("data/salaries/byCollege.csv")
byDegree <- read_csv("data/salaries/byDegree.csv")
byCollege

Parsed with column specification:
cols(
  `School Name` = col_character(),
  Region = col_character(),
  `Starting Median Salary` = col_character(),
  `Mid-Career Median Salary` = col_character(),
  `Mid-Career 10th Percentile Salary` = col_character(),
  `Mid-Career 25th Percentile Salary` = col_character(),
  `Mid-Career 75th Percentile Salary` = col_character(),
  `Mid-Career 90th Percentile Salary` = col_character()
)

Parsed with column specification:
cols(
  `School Name` = col_character(),
  `School Type` = col_character(),
  `Starting Median Salary` = col_character(),
  `Mid-Career Median Salary` = col_character(),
  `Mid-Career 10th Percentile Salary` = col_character(),
  `Mid-Career 25th Percentile Salary` = col_character(),
  `Mid-Career 75th Percentile Salary` = col_character(),
  `Mid-Career 90th Percentile Salary` = col_character()
)

Parsed with column specification:
cols(
  `Undergraduate Major` = col_character(),
  `Starting Median Salary` = col_character(),
  `Mid-Career Median Salary` = col_character(),
  `Percent change from Starting to Mid-Career Salary` = col_double(),
  `Mid-Career 10th Percentile Salary` = col_character(),
  `Mid-Career 25th Percentile Salary` = col_character(),
  `Mid-Career 75th Percentile Salary` = col_character(),
  `Mid-Career 90th Percentile Salary` = col_character()
)

    School Name
1   Massachusetts Institute of Technology (MIT)
2   California Institute of Technology (CIT)
3   Harvey Mudd College
4   Polytechnic University of New York, Brooklyn
5   Cooper Union
6   Worcester Polytechnic Institute (WPI)
7   Carnegie Mellon University (CMU)
8   Rensselaer Polytechnic Institute (RPI)
9   Georgia Institute of Technology
10  Colorado School of Mines
11  Stevens Institute of Technology
12  Illinois Institute of Technology (IIT)
13  Wentworth Institute of Technology
14  Virginia Polytechnic Institute and State University (Virginia Tech)
15  South Dakota School of Mines & Technology
16  New Mexico Institute of Mining and Technology (New Mexico Tech)
17  Rochester Institute of Technology (RIT)
18  Embry-Riddle Aeronautical University (ERAU)
19  Tennessee Technological University
20  University of Illinois at Urbana-Champaign (UIUC)
21  University of Maryland, College Park
22  University of California, Santa Barbara (UCSB)
23  University of Texas (UT) - Austin
24  State University of New York (SUNY) at Albany
25  University of Florida (UF)
26  Louisiana State University (LSU)
27  University of Georgia (UGA)
28  Pennsylvania State University (PSU)
29  Arizona State University (ASU)
30  Indiana University (IU), Bloomington
⋮   ⋮
240 University of Alabama at Birmingham (UAB)
241 University of Memphis (U of M)
242 Boise State University (BSU)
243 Missouri State University (MSU)
244 University of Wisconsin (UW) - La Crosse
245 Appalachian State University
246 Virginia Commonwealth University (VCU)
247 University of Wisconsin (UW) - Stout
248 East Carolina University (ECU)
249 Utah Valley State College
250 University of Missouri - St. Louis (UMSL)
251 Western Carolina University
252 University of Wisconsin (UW) - Oshkosh
253 State University of New York (SUNY) at Fredonia
254 University of Missouri - Kansas City (UMKC)
255 University of Wisconsin (UW) - Eau Claire
256 Ball State University (BSU)
257 University of North Carolina at Wilmington (UNCW)
258 University of Wisconsin (UW) - Stevens Point
259 University of Southern Maine
260 Arkansas State University (ASU)
261 Kent State University
262 Tarleton State University (TSU)
263 University of Wisconsin (UW) - Green Bay
264 Morehead State University
265 Austin Peay State University
266 Pittsburg State University
267 Southern Utah University
268 Montana State University - Billings
269 Black Hills State University
    School Type Starting Median Salary Mid-Career Median Salary
1   Engineering $72,200.00             $126,000.00
2   Engineering $75,500.00             $123,000.00
3   Engineering $71,800.00             $122,000.00
4   Engineering $62,400.00             $114,000.00
5   Engineering $62,200.00             $114,000.00
6   Engineering $61,000.00             $114,000.00
7   Engineering $61,800.00             $111,000.00
8   Engineering $61,100.00             $110,000.00
9   Engineering $58,300.00             $106,000.00
10  Engineering $58,100.00             $106,000.00
11  Engineering $60,600.00             $105,000.00
12  Engineering $56,000.00             $97,800.00
13  Engineering $53,000.00             $96,700.00
14  Engineering $53,500.00             $95,400.00
15  Engineering $55,800.00             $93,400.00
16  Engineering $51,000.00             $93,400.00
17  Engineering $48,900.00             $84,600.00
18  Engineering $52,700.00             $80,700.00
19  Engineering $46,200.00             $80,000.00
20  Party       $52,900.00             $96,100.00
21  Party       $52,000.00             $95,000.00
22  Party       $50,500.00             $95,000.00
23  Party       $49,700.00             $93,900.00
24  Party       $44,500.00             $92,200.00
25  Party       $47,100.00             $87,900.00
26  Party       $46,900.00             $87,800.00
27  Party       $44,100.00             $86,000.00
28  Party       $49,900.00             $85,700.00
29  Party       $47,400.00             $84,100.00
30  Party       $46,300.00             $84,000.00
⋮   ⋮           ⋮                      ⋮
240 State       $39,200.00             $70,100.00
241 State       $41,400.00             $69,700.00
242 State       $40,800.00             $69,500.00
243 State       $36,100.00             $69,500.00
244 State       $42,200.00             $69,300.00
245 State       $40,400.00             $69,100.00
246 State       $42,000.00             $68,400.00
247 State       $43,600.00             $68,300.00
248 State       $40,200.00             $67,500.00
249 State       $42,400.00             $67,100.00
250 State       $41,400.00             $67,100.00
251 State       $36,900.00             $66,600.00
252 State       $39,300.00             $66,400.00
253 State       $37,800.00             $66,200.00
254 State       $38,900.00             $65,800.00
255 State       $41,400.00             $64,800.00
256 State       $39,100.00             $64,500.00
257 State       $37,500.00             $64,400.00
258 State       $39,800.00             $64,000.00
259 State       $39,400.00             $63,600.00
260 State       $38,700.00             $63,300.00
261 State       $38,700.00             $62,600.00
262 State       $40,800.00             $62,400.00
263 State       $35,800.00             $60,600.00
264 State       $34,800.00             $60,600.00
265 State       $37,700.00             $59,200.00
266 State       $40,400.00             $58,200.00
267 State       $41,900.00             $56,500.00
268 State       $37,900.00             $50,600.00
269 State       $35,300.00             $43,900.00
    Mid-Career 10th Percentile Salary Mid-Career 25th Percentile Salary
1   $76,800.00                        $99,200.00
2   N/A                               $104,000.00
3   N/A                               $96,000.00
4   $66,800.00                        $94,300.00
5   N/A                               $80,200.00
6   $80,000.00                        $91,200.00
7   $63,300.00                        $80,100.00
8   $71,600.00                        $85,500.00
9   $67,200.00                        $85,200.00
10  $62,200.00                        $87,900.00
11  $68,700.00                        $81,900.00
12  $56,100.00                        $77,400.00
13  $55,200.00                        $74,000.00
14  $50,600.00                        $71,400.00
15  $71,500.00                        $81,900.00
16  N/A                               $67,400.00
17  $45,000.00                        $62,100.00
18  $49,800.00                        $64,000.00
19  $42,100.00                        $62,600.00
20  $48,200.00                        $68,900.00
21  $50,400.00                        $68,300.00
22  $51,300.00                        $71,200.00
23  $50,100.00                        $67,400.00
24  $47,000.00                        $63,100.00
25  $45,400.00                        $62,900.00
26  $43,700.00                        $61,300.00
27  $43,100.00                        $57,800.00
28  $46,300.00                        $62,000.00
29  $44,600.00                        $60,700.00
30  $43,600.00                        $60,400.00
⋮   ⋮                                 ⋮
240 $43,000.00                        $53,400.00
241 $36,100.00                        $49,100.00
242 $37,400.00                        $48,700.00
243 $33,300.00                        $46,900.00
244 $37,500.00                        $47,200.00
245 $37,200.00                        $50,400.00
246 $37,400.00                        $51,900.00
247 $40,900.00                        $50,600.00
248 $38,400.00                        $52,000.00
249 $27,000.00                        $44,100.00
250 $36,800.00                        $49,600.00
251 $39,000.00                        $49,500.00
252 $37,700.00                        $49,700.00
253 $32,800.00                        $44,200.00
254 $36,300.00                        $48,100.00
255 $35,000.00                        $47,300.00
256 $35,500.00                        $48,200.00
257 $32,100.00                        $46,600.00
258 $38,400.00                        $45,100.00
259 $40,400.00                        $47,900.00
260 $33,600.00                        $45,300.00
261 $36,100.00                        $45,800.00
262 $32,100.00                        $47,400.00
263 $35,500.00                        $46,800.00
264 $34,300.00                        $46,500.00
265 $32,200.00                        $40,500.00
266 $25,600.00                        $46,000.00
267 $30,700.00                        $39,700.00
268 $22,600.00                        $31,800.00
269 $27,000.00                        $32,200.00
    Mid-Career 75th Percentile Salary Mid-Career 90th Percentile Salary
1   $168,000.00                       $220,000.00
2   $161,000.00                       N/A
3   $180,000.00                       N/A
4   $143,000.00                       $190,000.00
5   $142,000.00                       N/A
6   $137,000.00                       $180,000.00
7   $150,000.00                       $209,000.00
8   $140,000.00                       $182,000.00
9   $137,000.00                       $183,000.00
10  $142,000.00                       $201,000.00
11  $138,000.00                       $185,000.00
12  $121,000.00                       $165,000.00
13  $117,000.00                       $153,000.00
14  $124,000.00                       $163,000.00
15  $122,000.00                       $147,000.00
16  $123,000.00                       N/A
17  $112,000.00                       $159,000.00
18  $106,000.00                       $142,000.00
19  $99,500.00                        $121,000.00
20  $132,000.00                       $177,000.00
21  $126,000.00                       $166,000.00
22  $129,000.00                       $173,000.00
23  $129,000.00                       $188,000.00
24  $135,000.00                       $209,000.00
25  $120,000.00                       $172,000.00
26  $120,000.00                       $165,000.00
27  $118,000.00                       $164,000.00
28  $117,000.00                       $160,000.00
29  $114,000.00                       $163,000.00
30  $119,000.00                       $178,000.00
⋮   ⋮                                 ⋮
240 $91,400.00                        $125,000.00
241 $93,500.00                        $127,000.00
242 $87,500.00                        $110,000.00
243 $102,000.00                       $134,000.00
244 $93,100.00                        $133,000.00
245 $90,800.00                        $115,000.00
246 $100,000.00                       $123,000.00
247 $91,600.00                        $136,000.00
248 $98,700.00                        $151,000.00
249 $84,900.00                        $110,000.00
250 $97,600.00                        $144,000.00
251 $94,400.00                        $133,000.00
252 $90,100.00                        $138,000.00
253 $93,300.00                        $181,000.00
254 $95,800.00                        $124,000.00
255 $93,100.00                        $125,000.00
256 $89,300.00                        $128,000.00
257 $97,100.00                        $129,000.00
258 $95,400.00                        $128,000.00
259 $85,700.00                        $117,000.00
260 $83,900.00                        $118,000.00
261 $87,000.00                        $124,000.00
262 $80,400.00                        $126,000.00
263 $81,800.00                        $102,000.00
264 $72,000.00                        $91,300.00
265 $73,900.00                        $96,200.00
266 $84,600.00                        $117,000.00
267 $78,400.00                        $116,000.00
268 $78,500.00                        $98,900.00
269 $60,900.00                        $87,600.00